@{
    ViewData["Title"] = "Home Page";
}
<html lang="en">

<!------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
  <head>

    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/2ec9cbfa89.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://js.arcgis.com/4.8/esri/css/main.css">
    <script src="https://js.arcgis.com/4.8/"></script>
    <script>
        require([
            "esri/Map",
            "esri/views/MapView",
            "esri/Graphic",
            "dojo/domReady!"
        ], function(Map, MapView, Graphic) {
            // Code to create the map and view will go here
            });
    </script>
    
    
    







  </head>
 
 
  <body>
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <section class="header">

      <div class="introText">
        <p>Het is al geruime tijd een bekend gegeven dat een lezer, 
            tijdens het bekijken van de layout van een pagina, 
            afgeleid wordt door de tekstuele inhoud. 
            Het belangrijke punt van het gebruik van Lorem Ipsum is dat het uit een min of meer normale verdeling van letters bestaat, 
            in tegenstelling tot "Hier uw tekst, hier uw tekst" wat het tot min of meer leesbaar nederlands maakt. 
            
        </p>
      </div>


    </section>

    <selection class="Body">



    </selection>
    <!------------------------------------------Footer----------------------------------------------------------------------------------------------- -->
        <section class="footer">

            <p>PFFF (Privacy First and Forever) </p>
            <p></p>
  
        </section>
   </body>
</html>