
@{
    ViewData["Title"] = "LeesMeer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>LeesMeer</h1>

<!doctype html>
<html lang="en">






<!------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
  <head>

    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/2ec9cbfa89.js" crossorigin="anonymous"></script>

    
    
    
    







  </head>
 
 
  <body>
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <section class="header">

      <div class="introText">
        <p>Het is al geruime tijd een bekend gegeven dat een lezer, 
            tijdens het bekijken van de layout van een pagina, 
            afgeleid wordt door de tekstuele inhoud. 
            Het belangrijke punt van het gebruik van Lorem Ipsum is dat het uit een min of meer normale verdeling van letters bestaat, 
            in tegenstelling tot "Hier uw tekst, hier uw tekst" wat het tot min of meer leesbaar nederlands maakt. 
            
        </p>
      </div>


    </section>
<!------------------------------------------Lijst----------------------------------------------------------------------------------------------- -->
    <section class="werkzaamheden">
      
      <div class="text-box" style="color: black">
        <h1>Waarom zou je je bij ons registreren </h1>

        <ul style="list-style-type: none;"> 
          <li>Camera's in de openbare lucht registreren </li>
          <li>een leuke community </li>  
          <li>Goede conspiracy theorien </li>  
          <li>Punten sparen voor leuke prijzen! </li>  
          <li>Het grootste cameraspotter netwerk van nederland </li>  


        </ul>
            <div>

                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">  <button type="button" class="btn btn-primary btn-block mb-4">Log In</button>   </a>
            </div>

        <p> </p>
        <p> </p>
        

      </div>
    </section>
    <!------------------------------------------Footer----------------------------------------------------------------------------------------------- -->
        <section class="footer">

            <p>PFFF (Privacy First and Forever) </p>
            <p></p>
  
        </section>
   </body>






</html>

