<!doctype html>
<html lang="en">






<!------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/2ec9cbfa89.js" crossorigin="anonymous"></script>

    
    
    
    







  </head>
 
 
  <body>
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!------------------------------------------Referenties----------------------------------------------------------------------------------------------- -->
<section class="Prijzen">
  <div class="Prijzen-text">
    <h1>Puntenshop: </h1>
    <p>Teskst teskts Teskst teskts Teskst teskts Teskst teskts Teskst teskts Teskst teskts Teskst teskts Teskst teskts Teskst <br> Teskst teskts Teskst teskts Teskst teskts Teskst teskts 
      Teskst tesktsTeskst teskts Teskst teskts Teskst teskts Teskst teskts Teskst teskts Teskst teskts
    </p>
  </div>

  </body>
  <div class="row">
    <div class="collum1">
      <a href="">
        <img src="~/Fotos/R3E Audi R8 LMS.jpg">
        
          <h3> Audi </h3>
        
      </a>
    </div>
<!-----autdodealer 2-5 -->
    <div class="collum1">
      <a href="">
        <img src="~/Fotos/iphone12.jpg">
        
          <h3> Iphone12 </h3>
        
      </a>
      
    </div>

    <!----horeca 6 - 8 9 10 11 12 13-- -->
    <div class="collum1">
      <a href="">
        <img src="~/Fotos/smoeltjes.jpg">
        
          <h3> Smoeltjes </h3>
        
      </a>
    </div>
<!-----Basiliek_Berg 18-22 -->
    <div class="collum1">
      <a href="">
        <img src="~/Fotos/weegschaal.jpg">
        
          <h3> Weegschaal </h3>
        <
      </a>
    </div>


</section>
    
<!------------------------------------------Footer----------------------------------------------------------------------------------------------- -->
<section class="footer">
  <p>PFFFFFFFFF</p>
  <p></p>
  
</section>

<!------------------------------------------------------------------------------------------------------------------------------------------------------------- -->





</html>